@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap");

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.5;
  font-size: 16px;
  @apply bg-base ml-36;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  outline: none;
}
/* UTILS */
.btn {
  @apply rounded-md px-2 py-0;
  border-width: 1px;
}
.btn-primary {
  @apply bg-primary text-txt-primary hover:bg-base hover:text-txt-base hover:border-txt-base;
}
.btn-accent-primary {
  @apply bg-accent-primary text-txt-accent-primary hover:bg-opacity-100;
}

.nav-logo {
}

/* NAV BAR */

.nav-bar {
  @apply fixed left-0 top-0 bottom-0 bg-primary w-36 overflow-x-hidden;
  z-index: 9999999;
}
/* menu list */
.nav-list {
  @apply pl-2;
}
.nav-list li {
  @apply py-2  pl-4;
}
.nav-list-active {
  @apply bg-base text-txt-base rounded-l-md relative;
}
.nav-list-active::before {
  content: "";
  background-color: transparent;
  @apply absolute -top-3 right-0 w-3 h-3 rounded-full ring-base;
  box-shadow: 0.375rem 0.375rem 0 rgba(54, 49, 7, var(--tw-bg-opacity));
}
.nav-list-active::after {
  content: "";
  background-color: transparent;
  @apply absolute -bottom-3 right-0 w-3 h-3 rounded-full;
  box-shadow: 0.375rem -0.375rem 0 rgba(54, 49, 7, var(--tw-bg-opacity));
}

@media only screen and (max-width: 700px) {
  body {
    @apply ml-0 overflow-x-scroll;
  }
  main {
    height: calc(100vh - 41px);
    overflow-y: overlay;
  }
  .nav-bar {
    @apply left-0 right-0 top-auto w-full;
  }
  .nav-list {
    @apply flex justify-between;
  }
  .nav-list-active {
    @apply rounded-md;
  }
  .nav-list li {
    @apply pr-4;
  }
  .nav-logo {
    @apply hidden;
  }
  .nav-list-active::before {
    @apply absolute top-0 right-auto -left-3 w-3 h-3 rounded-full ring-base;
    box-shadow: 0.375rem -0.375rem 0 rgba(54, 49, 7, var(--tw-bg-opacity));
  }
  .nav-list-active::after {
    @apply absolute bottom-auto top-0 -right-3 w-3 h-3 rounded-full;
    box-shadow: -0.375rem -0.375rem 0 rgba(54, 49, 7, var(--tw-bg-opacity));
  }
}

/* TABLE */

.t-cell {
}
.t-cell:first-child {
  @apply rounded-l-md pl-2;
}
.t-cell:last-child {
  @apply rounded-r-md pr-2;
}
.enhanced-table {
  @apply table w-full border-separate rounded-md;
  border-spacing: 0 10px;
}
.t-row {
  @apply table-row w-full rounded-md bg-secondary text-txt-secondary;
  border-radius: 50%;
}
.t-cell {
  @apply table-cell px-2;
  border: solid 1px #000;
  border-style: solid none;
  padding: 0px;
}
.t-head {
  @apply bg-accent-primary to-txt-accent-primary w-full;
}
.t-body {
  @apply mt-0 w-full;
}

/* HIVES */
.hives-container {
  @apply flex flex-col;
}
.hive {
  @apply bg-base text-txt-base  border-2 border-primary m-2 rounded-md px-2;
}
.active-hive {
  @apply bg-primary text-txt-primary;
}

/* FORM */
.fullscreen-form-container {
  @apply flex flex-col justify-center items-center;
}
.form {
  @apply rounded-md bg-secondary text-txt-secondary flex flex-col justify-center items-center p-4;
}
.form-title {
  @apply font-semibold text-2xl mb-2;
}
input {
  @apply rounded-md bg-accent-primary w-full;
}
button:last-of-type {
  @apply mt-2 mb-6;
}
label {
  @apply w-full text-left;
}

/* FULL SCREEN MESSAGE  */
.full-screen-msg-container {
  @apply flex flex-col justify-center items-center;
}
.msg-box {
  @apply rounded-md bg-secondary text-txt-secondary;
}
